body {
  margin: 0 auto;
  background-color: orange;
}

.main_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-align: center;
}
@media (max-width: 1070px) {
  .main_container {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 585px) {
  .main_heading {
    width: 400px;
    margin-top: 70px;
  }
}
@media (max-width: 480px) {
  .main_heading {
    width: 400px;
    font-size: 20px;
    margin-top: 70px;
  }
}
.scores_table {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scores_table--el {
  text-align: center;
}
@media (max-width: 480px) {
  .scores_table {
    justify-content: center;
    font-size: 15px;
  }
  .scores_table h2 {
    margin: 10px;
  }
}
.grid {
  width: 490px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  border: solid white 3px;
  border-radius: 10px;
}
@media (max-width: 585px) {
  .grid {
    width: 450px;
    height: 500px;
  }
}
@media (max-width: 480px) {
  .grid {
    width: 350px;
    height: 400px;
  }
}
.square {
  height: 150px;
  width: 150px;
}
@media (max-width: 480px) {
  .square {
    height: 100px;
    width: 100px;
  }
}

.ball {
  background-image: url("basketball.png");
  background-size: cover;
}
